/*
ff9f1c
ffbf69
ffffff
cbf3f0
2ec4b6
*/

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

.start-game:open {
    display: flex;

    justify-content: center;
    align-items: center;

    height: 100%;
    max-height: none;
    width: 100%;
    max-width: none;

    top: 0;
    left: 0;

    background-color: transparent;
}

.start-game:open form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.start-game:open .name-inputs {
    display: flex;
    gap: 1rem;
}

.start-game:open input {
    height: 2.5rem;
    font-size: 2rem;
}

.start-game:open button {
    font-size: 2rem;
    padding: 0.5rem 1rem;

    background-color: #ffbf69;

    border-radius: 1rem;
}

.start-game:open button:hover {
    background-color: #ff9f1c;
}

.container {
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr 8fr 3rem;

    justify-content: center;
}

.header {
    display: grid;

    justify-content: center;
    align-items: center;

    font-size: 2rem;

    border-bottom: 1px solid black;

    background-image: linear-gradient(240deg, #2ec4b6, #cbf3f0);
}

.main {
    display: grid;

    justify-content: center;
    align-items: center;

    width: 100vw;
}

.gameboard {
    display: flex;
    justify-content: space-around;

    width: 80vw;
}

.player-one-score{
    align-self: center;

    font-size: 2rem;
    font-weight: 600;
}

.player-two-score {
    align-self: center;

    font-size: 2rem;
    font-weight: 600;

    text-align: end;
}

.play-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;

    height: 30rem;
    width: 30rem;
}

.cell {
    height: 10rem;
    width: 10rem;
    background-color: #ffbf69;
    font-size: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background-color: #ff9f1c;
}

.player-turn {
    height: 3rem;

    display: flex;
    justify-content: center;

    font-size: 2rem;
}

.game-result {
    height: 3rem;

    display: flex;
    justify-content: center;

    font-size: 2rem;
}

.options {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.options button {
    padding: 0.8rem 1.5rem;

    font-size: 2rem;

    border-radius: 1rem;

    background-color: #ffbf69;
}

.options button:hover {
    background-color: #ff9f1c;
}

.footer {
    display: grid;

    justify-content: center;
    align-items: center;

    background-image: linear-gradient(120deg, #2ec4b6, #cbf3f0);

    font-size: 1rem;
}