* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

.container {
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr 8fr 1fr;

    justify-content: center;
}

.header {
    display: grid;

    justify-content: center;
    align-items: center;
}

.main {
    display: grid;

    justify-content: center;
    align-items: center;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;

    height: 30rem;
    width: 30rem;
}

.cell {
    height: 10rem;
    width: 10rem;
    background-color: beige;
    font-size: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.game-result {
    height: 3rem;
}

.footer {
    display: grid;

    justify-content: center;
    align-items: center;
}