/*
ff9f1c
ffbf69
ffffff
cbf3f0
2ec4b6
*/

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

.container {
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr 8fr 3rem;

    justify-content: center;
}

.header {
    display: grid;

    justify-content: center;
    align-items: center;

    font-size: 2rem;

    border-bottom: 1px solid black;

    background-image: linear-gradient(240deg, #2ec4b6, #cbf3f0);
}

.main {
    display: grid;

    justify-content: center;
    align-items: center;

    width: 100vw;
}

.gameboard {
    display: flex;
    justify-content: space-around;

    width: 80vw;
}

.player-one-score, 
.player-two-score {
    align-self: center;

    font-size: 2rem;
    font-weight: 600;
}

.play-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;

    height: 30rem;
    width: 30rem;
}

.cell {
    height: 10rem;
    width: 10rem;
    background-color: #ffbf69;
    font-size: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background-color: #ff9f1c;
}

.player-turn {
    height: 3rem;

    display: flex;
    justify-content: center;

    font-size: 2rem;
}

.game-result {
    height: 3rem;

    display: flex;
    justify-content: center;

    font-size: 2rem;
}

.options {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.options button {
    padding: 0.8rem 1.5rem;

    font-size: 2rem;

    border-radius: 1rem;

    background-color: #ffbf69;
}

.options button:hover {
    background-color: #ff9f1c;
}

.footer {
    display: grid;

    justify-content: center;
    align-items: center;

    background-image: linear-gradient(120deg, #2ec4b6, #cbf3f0);

    font-size: 1rem;
}