* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

.container {
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr 8fr 1fr;

    justify-content: center;
}

.header {
    display: grid;

    justify-content: center;
    align-items: center;
}

.main {
    display: grid;

    justify-content: center;
    align-items: center;

    width: 100vw;
}

.gameboard {
    display: flex;
    justify-content: space-around;

    width: 80vw;
}

.play-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;

    height: 30rem;
    width: 30rem;
}

.cell {
    height: 10rem;
    width: 10rem;
    background-color: beige;
    font-size: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    outline: 1px solid rgb(182, 182, 160);
}

.player-turn {
    height: 3rem;
}

.game-result {
    height: 3rem;
}

.footer {
    display: grid;

    justify-content: center;
    align-items: center;
}